.header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #fff;
}

.header__content {
    display: flex;
    width: 1267px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.header__menu{
    display: flex;
    width: 1257px;
    align-items: center;
}

.leading{
    display: flex;
    align-items: center;
    gap: 30px;
}